<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Result</h1>
    <p th:text="'Key: ' + ${project.key}" />
    <p th:text="'Name: ' + ${project.name}" />
    <a href="/project">Submit another message</a>
</body>
</html>
